<%= form_for [:admin, @location], :html => { :class => "form-horizontal" } do |f| %>
  <% if @location.errors.any? %>
    <div id="errorExplanation">
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <%= f.submit 'Speichern', :class => "btn btn-primary" %>
      <%= link_to 'Abbrechen', admin_locations_path, :class => "btn" %>
    </div>
  </div>
<% end %>				    
