<%= will_paginate @match_days, :renderer => BootstrapPagination::Rails %>

<p><%= link_to 'Neuer Spieltag', {:action => :new}, :class => 'btn btn-primary' %></p>

<% @match_days.each do |match| %>
<div class="row well">
  <div class="span2">
    <dl>
      <dt>Datum</dt>
      <dd><%= match.match_day %></dd>
    </dl>
    <dl>
      <dt>Kategorie</dt>
      <dd><%= match.category.name %></dd>
    </dl>
    <dl>
      <dt>Spielort</dt>
      <dd><%= match.location.name %></dd>
    </dl>
    <div class="btn-group btn-group-vertical text-center">
      <%= link_to 'Bearbeiten', edit_admin_match_day_path(match), :class => 'btn' %>
      <%= button_to 'Löschen', [:admin, match], :method => :delete, :class => "btn btn-danger" %>
    </div>
  </div>
  <div class="span7">
    <table class="table">
      <% current_game = 0 %>
      <% match.game.each do |game| %>
        <% if game.number != current_game %>
	  <% current_game = game.number %>
	  <tr>
	    <th colspan="10">Spiel <%= game.number %></th>
	  </tr>
        <% end %>
	<tr>
	  <td><%= game.player.full_name %></td>
	  <td><%= game.points %></td>
	  <td>
	    <div class="btn-group">
	      <%= link_to 'Bearbeiten', edit_admin_match_day_game_path(match, game), :class => 'btn' %>
              <%= button_to 'Löschen', [:admin, match, game], :method => :delete, :class => "btn btn-danger" %>
	    </div>
	  </td>
        </tr>
      <% end %>
    </table>
    <p><%= link_to 'Neues Spiel', new_admin_match_day_game_path(match.id), :class => "btn btn-primary" %></p>
  </div>
</div>
<% end %>

<p><%= link_to 'Neuer Spieltag', {:action => :new}, :class => 'btn btn-primary' %></p>
