<%= form_for [:admin, @player], :html => { :class => "form-horizontal" } do |f| %>
  <% if @player.errors.any? %>
    <div id="errorExplanation">
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Vorname</label>
    <div class="controls"><%= f.text_field :firstname %></div>
  </div>
  <div class="control-group">
    <label class="control-label">Nachname</label>
    <div class="controls"><%= f.text_field :lastname %></div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <%= f.submit "Speichern", :class => "btn btn-primary" %>
      <%= link_to 'Abbrechen', admin_players_path, :class => "btn" %>
    </div>
  </div>
<% end %>				    
