<h1>Games#list</h1>

<table>
  <tr>
    <th>Spieltag</th>
    <th>Kategorie</th>
    <th>Spielort</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.match_day %></td>
      <td><%= game.category.name %></td>
      <td><%= game.location.name %></td>
      <td><%= game.player.full_name %></td>
      <td><%= game.number %></td>
      <td><%= link_to 'Bearbeiten', edit_admin_game_path(game) %></td>
      <td><%= link_to 'Löschen', [:admin, game], :method => :delete %></td>
    </tr>
  <% end%>
</table>

<%= link_to "Neu", :action => :new %>
