<%= render 'shared/restrictions' %>

<%= will_paginate @games, :renderer => BootstrapPagination::Rails %>

<table class="table">
  <tr>
    <th>Spieler</th>
    <th>Spiel</th>
    <th>Punkte</th>
    <th>Geräumt</th>
    <th>Strikes</th>
    <th>Spares</th>
    <th>Splits</th>
    <th>Fouls</th>
    <th>Datum</th>
    <th>Ort</th>
    <th>Kategorie</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.player.full_name %></td>
      <td><%= game.number %></td>
      <td><%= game.points %></td>
      <td><%= game.cleared_frames %></td>
      <td><%= game.strikes %></td>
      <td><%= game.spares %></td>
      <td><%= game.splits %> (<%= game.cleared_splits %>)</td>
      <td><%= game.fouls %></td>
      <td><%= link_to game.match_day.formatted_match_day, match_day_path(game.match_day) %></td>
      <td><%= game.match_day.location.name %></td>
      <td><%= game.match_day.category.name %></td>
    </tr>
  <% end %>
</table>
