<%= render 'shared/score_restrictions' %>

<%= will_paginate @games, :renderer => BootstrapPagination::Rails %>

<table class="table">
  <tr>
    <th>Spieler</th>
    <th class="text-center">Spiel</th>
    <th class="text-center"><%= sortable "points", "Punkte" %></th>
    <th class="text-center"><%= sortable "cleared_frames", "Geräumt" %></th>
    <th class="text-center"><%= sortable "strikes" %></th>
    <th class="text-center"><%= sortable "spares" %></th>
    <th class="text-center"><%= sortable "splits" %></th>
    <th class="text-center"><%= sortable "fouls" %></th>
    <th class="text-center">Datum</th>
    <th>Ort</th>
    <th>Kategorie</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.player.full_name, player_path(game.player) %></td>
      <td class="text-center"><%= game.number %></td>
      <td class="text-center"><%= game.points %></td>
      <td class="text-center"><%= game.cleared_frames %></td>
      <td class="text-center"><%= game.strikes %></td>
      <td class="text-center"><%= game.spares %></td>
      <td class="text-center"><%= game.splits %> (<%= game.cleared_splits %>)</td>
      <td class="text-center"><%= game.fouls %></td>
      <td class="text-center"><%= link_to game.match_day.formatted_match_day, match_day_path(game.match_day) %></td>
      <td><%= game.match_day.location.name %></td>
      <td><%= game.match_day.category.name %></td>
    </tr>
  <% end %>
</table>
