<%= render 'shared/score_restrictions' %>

<%= will_paginate @games, :renderer => BootstrapPagination::Rails %>

<table class="table">
  <tr>
    <th>Spieler</th>
    <th class="text-center">Spiele</th>
    <th class="text-center">Punkte</th>
    <th class="text-center">Geräumt</th>
    <th class="text-center">Strikes</th>
    <th class="text-center">Spares</th>
    <th class="text-center">Splits</th>
    <th class="text-center">Fouls</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.player.full_name %></td>
      <td class="text-center"><%= game.number %></td>
      <td class="text-center"><%= game.points %></td>
      <td class="text-center"><%= game.cleared_frames %></td>
      <td class="text-center"><%= game.strikes %></td>
      <td class="text-center"><%= game.spares %></td>
      <td class="text-center"><%= game.splits %> (<%= game.cleared_splits %>)</td>
      <td class="text-center"><%= game.fouls %></td>
    </tr>
  <% end %>
</table>
