<%= render 'shared/restrictions' %>

<%= will_paginate @games %>
<table>
  <tr class="header">
    <th>Spieler</th>
    <th>Spiele</th>
    <th>Punkte</th>
    <th>Geräumt</th>
    <th>Strikes</th>
    <th>Spares</th>
    <th>Splits</th>
    <th>Fouls</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td class="player"><%= game.player.full_name %></td>
      <td class="points"><%= game.number %></td>
      <td class="points"><%= game.points %></td>
      <td class="aggregated"><%= game.cleared_frames %></td>
      <td class="aggregated"><%= game.strikes %></td>
      <td class="aggregated"><%= game.spares %></td>
      <td class="aggregated"><%= game.splits %> (<%= game.cleared_splits %>)</td>
      <td class="aggregated"><%= game.fouls %></td>
    </tr>
  <% end %>
</table>
