<p><%= link_to "Neue Kategorie", { :action => :new }, { :class => "btn btn-primary" } %></p>
<table class="table">
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <div class="btn-group">
	  <%= link_to 'Bearbeiten', edit_admin_category_path(category), :class => "btn btn-primary" %>
          <%= link_to 'Löschen', [:admin, category], :method => :delete, :class => "btn btn-danger" %>
	</div>
      </td>
    </tr>
  <% end %>
</table>
<p><%= link_to "Neue Kategorie", { :action => :new }, { :class => "btn btn-primary" } %></p>
