<%= render 'shared/restrictions' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "bowling_chart",
	backgroundColor: "#FAFAFA",
      },
      title: {
        text: ""
      },
      xAxis: {
        type: "datetime",
	labels: {
	  formatter: function(){
	    return Highcharts.dateFormat("%d.%m.%Y", this.value*1000);
	  },
	}
      },
      yAxis: {
        title: {
	  text: "Punkte"
	}
      },
      tooltip: {
        formatter: function(){
          var date_text = Highcharts.dateFormat("%d.%m.%Y", this.x*1000);
	  var score_text = parseInt(this.y) + " Punkte";
	  return date_text + "<br/>" + this.series.name + ": " + score_text;
	}
      },
      plotOptions: {
        series: {
	  cursor: 'pointer',
	  point: {
	    events: {
	      click: function(){
	        if (this.options.matchday_id != null){
  	          location.href = "/match_days/" + this.options.matchday_id;
		}
	      }
	    }
	  }
	},
      },
      series: [
      <% @games.each do |player_id, scores| %>
      <% next if scores.empty? %>
      {
        type: '<%= @chart_type %>',
        name: "<%= Player.find(player_id).full_name %>",
        data: [
	  <% scores.each do |game| %>
	    {
	      x: <%= game.match_day.match_day.to_datetime.to_i + 1 %>,
	      y: <%= game.points %>,
	      matchday_id: <%= game.match_day.id %>
	    },
	  <% end %>
	]
      },
      <% if @regression %>
      {
        type: 'line',
        name: 'Regression',
	marker: {
	  enabled: false
	},
	data: (function(){
	  return <%= @regression.inspect %>;
	})()
      },
      <% end %>
      <% end %>
      ]
    });
  });
</script>

<div id="bowling_chart" style="height: <%= @graphics_height %>px"></div>
