<div id="bowling_game_chart_<%= game_number %>" style="height: <%= @graphics_height %>px;"></div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    new Highcharts.Chart({
      chart: {
        renderTo: "bowling_game_chart_<%= game_number %>",
	backgroundColor: "#FAFAFA"
      },
      title: {
        text: ""
      },
      xAxis: {
        allowDecimals: false,
	tickInterval: 1,
	title: {
	  text: "Frame"
	}
      },
      yAxis: {
        title: {
	  text: "Punkte"
	},
        min: 0,
      },
      credits: {
        enabled: false
      },
      tooltip: {
        shared: true,
	useHTML: true,
	headerFormat: '<small>Spiel <%= game_number %>, Frame {point.key}</small><table>',
	pointFormat: '<tr><td><span style="color: {series.color}">\u25CF</span> {series.name}:</td><td>&nbsp;</td><td style="text-align: right;">{point.y}</td></tr>',
	footerFormat: '</table>'
      },
      series: [
        {
	  type: "line",
	  name: "100",
	  dashStyle: "Dash",
	  color: new Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.4).get(),
	  data: [[1,10],[2,20],[3,30],[4,40],[5,50],[6,60],[7,70],[8,80],[9,90],[10,100]],
	  visible: true,
	  enableMouseTracking: false
	},
	{
	  type: "line",
	  name: "200",
	  dashStyle: "Dash",
	  color: new Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0.4).get(),
	  data: [[1,20],[2,40],[3,60],[4,80],[5,100],[6,120],[7,140],[8,160],[9,180],[10,200]],
	  visible: true,
	  enableMouseTracking: false
	}
      <% isFirst = true %>
      <% match_day.game.where(:number => game_number).each do |game| %>
        ,{
	  type: "line",
	  name: "<%= game.player.full_name %>",
	  data: [
	    <% isFirst = true %>
	    <% 1..10.times do |i| %>
  	      <%= "," unless isFirst %>
              [ <%= i+1 %>, <%= game.points_up_to_frame(i+1) %> ]
	      <% isFirst = false %>
	    <% end %>
	  ]
	}
      <% end %>
      ]
    });
  })
</script>
