<!DOCTYPE html>
<html>
<head>
  <title>Bowlingdb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :fixed => :top, :responsive => true do %>
  <%= menu_group do %>
    <%= menu_item "Spieler pflegen", admin_players_path %>
    <%= menu_item "Kategorien pflegen", admin_categories_path %>
    <%= menu_item "Spielorte pflegen", admin_locations_path %>
    <%= menu_item "Spiele eingeben", admin_match_days_path %>
    <%= menu_item "Statistik", admin_stats_path %>
    <%= menu_item "Anzeige", "/" %>
  <% end %>
<% end %>

<div id="content" class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
