<!DOCTYPE html>
<html>
<head>
  <title>Bowlingdb</title>
  <%= stylesheet_link_tag    "application", { :media => "all", :title => "Default" } %>
  <%= javascript_include_tag "application", "jquery-2.0.2.min", "highcharts", 'regression' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu"><%= render 'shared/menu' %></div>

<div id="content">
  <%= yield %>
</div>
</body>
</html>
